.cards {
  /* border: 2px solid black; */
}

.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}

.cards > ul > li {
  border-radius: 1em;
  border: 1px solid grey;
  min-height: 200px;
  max-height: 220px;
  width: 250px;
  overflow: hidden;
  position: relative;
  padding: 0.5em 2.5em;

  box-shadow: 15px 15px rgba(128, 128, 128, 0.521);
}

.cards > ul > li > div {
  font-weight: bold;

  margin: auto;
}
.cards > ul > li > div > h1 {
  font-style: italic;
}
