body {
  background-color: #662113;
}

main {
  width: 90vw;
  height: 90vh;
  margin: auto;
  animation: float 3s ease-in-out infinite;
}

.box {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}

.logo {
  font-size: 20rem;
}

.sora {
  font-family: "Sora", sans-serif;
  font-style: italic;
}

.name {
  font-size: 3rem;
  color: #ffcc4d;
}

.caption {
  color: white;
  font-size: 1.75rem;
  width: 8em;
}

@keyframes float {
  0% {
    translate: 0;
  }
  50% {
    translate: 0 0.5rem;
  }
  100% {
    translate: 0;
  }
}
