body {
  font-family: "Roboto", sans-serif;
}

.unselectable {
  /* Make this section unselectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.sora {
  font-family: "Sora", sans-serif;
  font-style: italic;
}

footer > .sora {
  font-size: 1.1rem;
  font-style: normal;
  text-align: center;
  margin-bottom: 1em;
}

@keyframes float {
  0% {
    translate: 0;
  }
  50% {
    translate: 0 0.5rem;
  }
  100% {
    translate: 0;
  }
}

.floater {
  animation: float 3s ease-in-out infinite;
}

main > h2 {
  font-size: 2em;
}
